#hero {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 100px;
    #hero-txt {
        border-right: 1px solid $night-sky;
        padding: 10%;
        border-bottom: 1px solid $night-sky;
        p {
            margin: 0 0 30px;
        }
    }
    #hero-img {
        background-image: url("/images/sky-bg.jpg");
        background-size: cover;
        background-position: center center;
        border-bottom: 1px solid $night-sky;
    }   
}
@media only screen and (max-width: $medium-desktop) {
    #hero {
        #hero-txt {
            padding: 7%;
        }
    }
}
@media only screen and (max-width: 1080px) {
    #hero {
        #hero-txt {
            h1 {
                font-size: 4em;
            }
        }
    }
}
@media only screen and (max-width: $tablet) {
    #hero {
        grid-template-columns: 100%;
        #hero-text {
            grid-row-start: 2;
            border-right: none;
        }
        #hero-img {
            grid-row-start: 1;
            height: 250px;
        }
    }
}
@media only screen and (max-width: $large-mobile) {
    #hero {
        #hero-txt {
            padding-top: 12%;
            padding-bottom: 14%;
            h1 {
                font-size: 2.4em;
            }
            p {
                margin: 10px 0 20px 0;
            }
        }
        #hero-img {
            height: 150px;
        }
    }
}

#home-cta {
    text-align: center;
    border-bottom: 1px solid $night-sky;
    background-color: $glacier;
    padding: 5%;
    h2 {
        margin: 0 auto;
    }
    p {
        max-width: 70%;
        margin: 20px auto 40px;
    }
}
@media only screen and (max-width: $tablet) {
    #home-cta {
        padding: 7% 5% 9% 5%;
    }
}
@media only screen and (max-width: $large-mobile) {
    #home-cta {
        padding: 10% 5% 12% 5%;
        h2 {
            text-align: center;
        }
        p {
            text-align: center;
            max-width: 100%;
            margin: 0 auto 20px;
        }
    }
}

#home-work {
    text-align: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    border-bottom: 1px solid $night-sky;
    a {
        text-decoration: none;
    }
    section {
        position: relative;
        height: 300px;
        overflow: hidden;
        border-right: 1px solid $night-sky;
    }
    img {
        width: 100%;
        transition: all .3s;
        opacity: .2;
        &:hover {
            opacity: .7;
        }
    }
    p {
        font-size: 30px;
        margin: 0;
        font-family: $heading-bold;
        transition: all .3s;
        position: absolute;
        top: 48%;
        left: 2%;
        right: 2%;
        &:hover {
            color: $bluebird;
        }
    }
}
@media only screen and (max-width: $tablet) {
    #home-work {
        grid-template-columns: 50% 50%;
        border-bottom: none;
        section {
            border-bottom: 1px solid $night-sky;
            height: 200px;
            p {
                top: 45%;
            }
        }
    }
}
@media only screen and (max-width: $large-mobile) {
    #home-work {
        grid-template-columns: 100%;
        section {
            height: 100px;
            border-right: none;
            p {
                top: 38%;
                font-size: 2em;
            }
        }
    }
}

#home-contact {
    @extend #home-cta;
    background-color: $rose;
    margin-bottom: 50px;
    a {
        &::after {
            content: " ↝"
        }
        &:hover {
            background-color: $glacier;
        }
    }
}