// brand colors
$night-sky: #52517B;
$bluebird: #6E8AA7;
$glacier: #BDCCD4;
$rose: #D9BBBD;
$macaron: #F4ECEA;
$white: #FFFFFF;

// fonts
$heading: 'skylar_sansregular', 'Lucida Bright', serif;
$body: 'Work Sans', 'Roboto', sans-serif;
$heading-italics: 'skylar_sansitalic', 'Lucida Bright', serif;
$heading-bold: 'skylar_sansbold', 'Lucida Bright', serif;

// breakpoints
$large-desktop: 2560px;
$medium-desktop: 1440px;
$small-desktop: 1024px;
$tablet: 864px;
$large-mobile: 450px;
$small-mobile: 320px;