#violin-hero {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 100px;
    #violin-bio {
        border-right: 1px solid $night-sky;
        padding: 10% 10% 10% 10%;
        border-bottom: 1px solid $night-sky;
        h1 {
            margin: 0 0 20px;
        }
        p {
            margin: 0 0 30px;
        }
    }
    #violin-img {
        background-image: url("/images/sky-bg.jpg");
        background-size: cover;
        background-position: center center;
        border-bottom: 1px solid $night-sky;
    }
}
@media only screen and (max-width: $tablet) {
    #violin-hero {
        display: block;
        #violin-bio {
            border-right: none;
            h1 {
                font-size: 3em;
            }
        }
        #violin-img {
            height: 200px;
        }
    }
}

#violin-recordings {
    padding: 5%;
    h2 {
        text-align: center;
    }
    #song-tiles {
        display: grid;
        margin: 0 auto;
        grid-template-columns: 50% 50%;
        .song-tile {
            padding: 5%;
            h3 {
                font-size: 1.5em;
            }
            p {
                font-style: italic;
            }
            a {
                display: block;
                margin-top: 5px;
            }
        }
    }
}
@media only screen and (max-width: 700px) {
    #violin-recordings {
        #song-tiles {
            display: block;
        }
    }
}

#violin-rates {
    padding: 5%;
    text-align: center;
    border-top: 1px solid $night-sky;
    background-color: $glacier;
    p {
        max-width: 60%;
        margin: 20px auto 0;
    }
}
@media only screen and (max-width: $tablet) {
    #violin-rates {
        p {
            max-width: 90%;
        }
    }
}

#violin-performances {
    border-top: 1px solid $night-sky;
    padding: 5%;
    h2 {
        text-align: center;
    }
    #perf-tiles {
        display: grid;
        margin: 0 auto;
        grid-template-columns: 50% 50%;
        .perf-tile {
            padding: 5%;
            h3 {
                font-size: 1.5em;
            }
            p {
                font-style: italic;
            }
            a {
                display: block;
                margin-top: 5px;
            }
        }
    }
}
@media only screen and (max-width: $tablet) {
    #violin-performances {
        margin-bottom: 50px;
        #perf-tiles {
            display: block;
            .perf-tile {
                padding: 2%;
            }
        }
    }
}